    .info {
        text-align: center;
    }
    
    .price {
        float: right;
        color: rgb(13, 13, 204);
    }
    
    #dessert {
        background-image: url();
    }
    
    body {
        background-position: center;
        background-image: url("toq.jpg");
        background-attachment: fixed;
        background-size: cover;
    }
    
    .navbar a.active {
        background-color: #404845;
        color: white;
    }
    
    .navbar {
        background-color: rgb(32, 34, 9);
        overflow: hidden;
    }
    
    .navbar a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: solid;
        font-size: 17px;
    }
    
    .navbar a:hover {
        background-color: rgb(74, 126, 162);
        color: black;
    }
    
    #oui {
        font-size: 350%;
        color: rgb(26, 54, 51);
        font-family: Brush Script MT;
        margin-left: 10%;
    }
    
    #foot {
        font-family: Brush Script MT”;
        text-align: center;
        font-size: 500%;
        color: rgb(82, 117, 140);
        font-family: Brush Script MT;
    }
    
    #sidebar {
        width: 200px;
        background-color: antiquewhite;
    }
    
    #table {
        width: 100%;
        margin-left: 50%;
    }
    
    .list1 {
        font-family: cursive;
        color: rgb(174, 66, 32);
    }
    
    * {
        color: rgb(44, 39, 13);
        font-size: large;
    }
    
    .food {
        color: rgb(14, 72, 49);
    }
    
    #head {
        padding: 10%;
        height: 100px;
        background-image: url("Paris_Website-Header-Banner_2100x675.jpg");
        background-position: bottom;
        background-size: cover;
    }
    
    ul li::marker {
        content: '';
    }
